.r {
border: 1px solid black;
display: flex;
padding: 40 px;
flex-direction: row;
justify-content: space-around;
color: black;
background-color: blue;
}
.q {
    color: black;
}
.w {
    color: black;
}
.lala { 
display: flex;
justify-content: center;
border: 1px solid black;
}
.qaqa {
    display: flex;
    justify-content: left;  
}
.qaqa {
    border: 1px solid black;
    display: flex;
    padding: 40 px;
    flex-direction: row;
    justify-content: center;
    }
.One {
    border: 1px solid black;
    display: flex;
    padding: 40 px;
    flex-direction: row;
    justify-content: center;
}
body {
    background-color: aqua;
}
.yyy { 
    width: 1980px;
    height: 900px;
}